<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  
    <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NetTCPBinding" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <reliableSession inactivityTimeout="00:20:00"/>
        </binding>
      </wsHttpBinding>
    </bindings>

      <!--<services>
        <service name="WebAutomation.Logger.Visual.LogReceiver">
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
          <endpoint address="VisualLoggerService" binding="netTcpBinding" bindingConfiguration="NetTCPBinding" name="NetTCPBinding" contract="WebAutomation.Logger.Contract.IVisualLogger">
            --><!--<identity>
              <dns value="localhost" />
            </identity>--><!--
          </endpoint>
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:4000/" />
            </baseAddresses>
          </host>
        </service>
      </services>-->
    </system.serviceModel>
  
  
</configuration>
